body {
    color:hsl(86, 49%, 55%);
    background:rgb(111, 105, 199);
    margin: 0px;
    font-family: "Pacifico", cursive;
}

header  {
border-bottom: solid 2px rgb(226, 226, 226);
padding: 20px;
font-size: 32px;
color: rgb(226, 226, 226) (42, 122, 228);
}

section {
background:rgb(17, 7, 158);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
img {
  height: 200px;
}

